html, body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 200px;
}

#dot {
  height: 25px;
  width: 25px;
  background-color: #6A7885;
  border-radius: 50%;
  display: inline-block;
}


#start-button {
  color: black;
  font-size: larger;
  background-color: #8C8D8F;
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  width: 130px;
  height: 75px;
}

#instruct-container {
  background-color: #8C8D8F;
  padding-top: 25px;
  width: 625px;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}

#scroll {
  background-color: #8C8D8F;
  width: 250px;
  height: 525px;
  margin-top: 88px; 
}




#kinect-window {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cce8db;
  grid-column: 2/3;
  grid-row: 2/3;
}

.hands {
  height: 100px;
  background-color: #b8937a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 25px 50px 25px 50px;
}

.circle {
  height: 50px;
  width: 50px;
  color: white;
  background-color: #fcc006;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ca0147;
  margin: 2rem;
  margin-right: 35px;
}

.up-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ca0147;
  margin: 2rem;
  margin-bottom: 35px;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ca0147;
  margin: 2rem;
  margin-left: 35px;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ca0147;
  margin: 2rem;
  margin-top: 35px;
}

.active-left {
  border-right: 15px solid #c1f80a;
}

.active-up {
  border-bottom: 15px solid #c1f80a;
}

.active-right {
  border-left: 15px solid #c1f80a;
}

.active-down {
  border-top: 15px solid #c1f80a;
}

.qr {
  height: 300px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background-color: #F7E4DE;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#start-button {
  background-color: #FE5F55;
  color: #FFF;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#start-button:hover {
  background-color: #c41d14;
}
#instruct-container {
  text-align: center;
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
}
#icon-legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.legend-item img {
  margin-right: 0.5rem;
  width: 1.5rem;
}
.legend-item p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}